aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.9.1
aiosignal==1.4.0
asgiref==3.9.1
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
convertdate==2.4.0
Django==5.2.4
frozenlist==1.7.0
gunicorn==25.1.0
idna==3.10
multidict==6.6.4
packaging==26.0
propcache==0.3.2
PyJWT==2.10.1
PyMeeus==0.5.12
python-dotenv==1.1.1
requests==2.32.5
sqlparse==0.5.3
twilio==9.7.2
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.11.0
yarl==1.20.1
dj-database-url
psycopg2-binary
django-ratelimit==4.1.0
weasyprint==69.0
hdate==1.2.1
num2words==0.5.14
docopt==0.6.2