{% load static %}
<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}חוות סוסים מסילת ציון{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'homePage/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


    <!-- ספריית סמלים -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- HEADER -->
    <header>
        <div class="logo">
            <img src="{% static 'homePage/images/logo.png' %}" alt="חוות סילת ציון לוגו">
        </div>
        <div class="shopping-chart">
            <!-- עגלה / אייקון / קישורים - אם יש -->
        </div>
    </header>

    <!-- MAIN -->
    <main>
        {% block content %}
        <!-- כאן ייכנס התוכן של כל עמוד אחר -->
        {% endblock %}
    </main>

    <footer>
      {% block footer %}{% endblock %}
    </footer>

    {% block scripts %}{% endblock %}

</body>
</html>
