{% extends "homePage/base_booking.html" %}
{% load static %}

{% block specific_title %}טיול כרכרה - חוות מסילת ציון{% endblock %}

{% block image_src %}{% static 'homePage/images/carriage-trip.jpg' %}{% endblock %}

{% block image_alt %}טיול כרכרה{% endblock %}
{% block page_title %} טיול כרכרה{% endblock %}
{% block description_text %}
צאו לסיבוב רגוע בין השדות והנוף של יער בורמה, בקצב נעים שמתאים לכולם—מושלם למשפחות, זוגות וחברים<br>
מספר הנוסעים: 2–5 נוסעים יחד<br>
<u>מחירים (לכרכרה)</u><br>
חצי שעה — 500 ₪<br>
45 דקות — 650 ₪<br>
שעה — 700 ₪<br>
{% endblock %}

{% block appointment_title %}
    <div class="appointment_title">להזמנת טיול</div>
{% endblock %}