{% extends "homePage/base_booking.html" %}
{% load static %}

{% block specific_title %}רכיבת ילדים - חוות מסילת ציון{% endblock %}

{% block image_src %}{% static 'homePage/images/children-riding.jpg' %}{% endblock %}

{% block image_alt %}רכיבת ילדים{% endblock %}

{% block description_text %}
חווית רכיבה לילדים<br>
משך הפעילות: 10 דקות<br>
מחיר: 50 ₪<br>
הרכיבה בשטח הפתוח – לא במגרש סגור!<br>
החוויה מתבצעת בליווי צמוד של מדריך מקצועי, שמחזיק את הסוס על הקרקע ומבטיח בטיחות מרבית<br>
{% endblock %}

{% block appointment_title %}
    <div class="appointment_title">להזמנת רכיבה</div>
{% endblock %}