{% extends "homePage/base_booking.html" %}
{% load static %}

{% block specific_title %}רכיבה זוגית - חוות מסילת ציון{% endblock %}

{% block image_src %}{% static 'homePage/images/couple-riding.jpg' %}{% endblock %}

{% block image_alt %}רכיבה זוגית{% endblock %}
{% block page_title %}רכיבה זוגית{% endblock %}
{% block description_text %}
<u>המחירים (לזוג)</u>
רכיבה ביום:<br>
חצי שעה — 300 ₪<br>
45 דקות — 360 ₪<br>
שעה — 400 ₪<br>
שעה וחצי — 600 ₪<br>
שעתיים — 700 ₪<br>
 <br>   רכיבה זוגית עם פיקניק רומנטי לשעה וחצי-שעתיים הכוללת יין אדום/לבן לבחירתכם, לחם, גבינות ונישנושים<br><br>
רכיבת זריחה/לילה — 900 ₪ לשעה וחצי<br>
רוצים להאריך? אפשר לתאם איתנו בטלפון רכיבה ארוכה יותר<br>
כולל עצירת קפה בדרך על חשבונינו<br><br>
    לא ניתן לקבוע רכיבת לילה/זריחה לאותו היום לאחר השעה 16:00<br>
רוצים בכל זאת? מוזמנים להתקשר בשעות הפעילות וננסה למצוא לכם מקום<br>

{% endblock %}

{% block appointment_title %}
    <div class="appointment_title">להזמנת רכיבה</div>
{% endblock %}