{% extends "homePage/base.html" %}
{% load static %}

{% block title %}גלריה - חוות מסילת ציון{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'homePage/gallery.css' %}">

{% endblock %}

{% block content %}
<div class="gallery-section">
    <div class="gallery-grid">
        <img src="{% static 'homePage/images/p1.jpg' %}" alt="תמונה 1">
        <img src="{% static 'homePage/images/p2.jpg' %}" alt="תמונה 2">
        <img src="{% static 'homePage/images/p3.jpg' %}" alt="תמונה 3">
        <img src="{% static 'homePage/images/p4.jpg' %}" alt="תמונה 4">
        <img src="{% static 'homePage/images/p5.jpg' %}" alt="תמונה 5">
        <img src="{% static 'homePage/images/p6.jpg' %}" alt="תמונה 6">
        <img src="{% static 'homePage/images/p7.jpg' %}" alt="תמונה 7">
        <img src="{% static 'homePage/images/p8.jpg' %}" alt="תמונה 8">
        <img src="{% static 'homePage/images/p9.jpg' %}" alt="תמונה 9">
        <img src="{% static 'homePage/images/p10.jpg' %}" alt="תמונה 10">
        <img src="{% static 'homePage/images/p11.jpg' %}" alt="תמונה 11">
        <img src="{% static 'homePage/images/p12.jpg' %}" alt="תמונה 12">
        <img src="{% static 'homePage/images/p13.jpg' %}" alt="תמונה 13">
        <img src="{% static 'homePage/images/p14.jpg' %}" alt="תמונה 14">
        <img src="{% static 'homePage/images/p15.jpg' %}" alt="תמונה 15">
        <img src="{% static 'homePage/images/p16.jpg' %}" alt="תמונה 16">
        <img src="{% static 'homePage/images/p17.jpg' %}" alt="תמונה 17">
        <img src="{% static 'homePage/images/p18.jpg' %}" alt="תמונה 18">
        <img src="{% static 'homePage/images/p19.jpg' %}" alt="תמונה 19">
        <img src="{% static 'homePage/images/p20.jpg' %}" alt="תמונה 20">
        <img src="{% static 'homePage/images/p21.jpg' %}" alt="תמונה 21">

    </div>
</div>
{% endblock %}
