{% extends "homePage/base_booking.html" %}
{% load static %}

{% block specific_title %}רכיבת שטח - חוות מסילת ציון{% endblock %}

{% block image_src %}{% static 'homePage/images/group-riding.jpg' %}{% endblock %}

{% block image_alt %}רכיבת שטח{% endblock %}
{% block page_title %}רכיבת שטח{% endblock %}

{% block description_text %}
הרכיבה מותנית בהשתתפות של 2 עד 6 רוכבים<br>

<u>מחירים (לאדם)</u>
חצי שעה — 150 ₪<br>
45 דקות — 180 ₪<br>
שעה — 200 ₪<br>
שעה וחצי — 300 ₪<br>
שעתיים — 350 ₪<br>
{% endblock %}

{% block appointment_title %}
    <div class="appointment_title">להזמנת רכיבה</div>
{% endblock %}