{% extends "homePage/base_booking.html" %}
{% load static %}

{% block specific_title %}רכיבת שטח על סוסים | מסילת ציון, ליד בית שמש ושער הגיא{% endblock %}
{% block meta_description %}רכיבת שטח קבוצתית על סוסים במסילת ציון, ליד בית שמש ושער הגיא. מותאם ל-2 עד {{ activity.max_participants }} רוכבים, החל מ-150 ₪ לאדם.{% endblock %}

{% block image_src %}{% static 'homePage/images/group-riding.jpg' %}{% endblock %}

{% block image_alt %}רכיבת שטח{% endblock %}
{% block page_title %}רכיבת שטח{% endblock %}

{% block structured_data %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Service",
  "name": "רכיבת שטח על סוסים",
  "description": "רכיבת שטח קבוצתית על סוסים במסילת ציון, מותאמת ל-2 עד {{ activity.max_participants }} רוכבים.",
  "provider": {
    "@type": "LocalBusiness",
    "name": "חוות מסילת ציון",
    "url": "https://mesilatzionfarm.co.il/",
    "telephone": "+972-55-885-9569"
  },
  "areaServed": ["מסילת ציון", "בית שמש", "שער הגיא"],
  "offers": {
    "@type": "AggregateOffer",
    "lowPrice": "{{ price_min|floatformat:'0' }}",
    "highPrice": "{{ price_max|floatformat:'0' }}",
    "priceCurrency": "ILS"
  }
}
</script>
{% endblock %}

{% block description_text %}
<p class="text-note">הרכיבה מותנית בהשתתפות של 2 עד {{ activity.max_participants }} רוכבים</p>

<u>מחירים (לאדם)</u>
<ul class="price-list">
  <li><span>חצי שעה</span><strong>150 ₪</strong></li>
  <li><span>45 דקות</span><strong>200 ₪</strong></li>
  <li><span>שעה</span><strong>220 ₪</strong></li>
  <li><span>שעה וחצי</span><strong>290 ₪</strong></li>
  <li><span>שעתיים</span><strong>350 ₪</strong></li>
</ul>
{% endblock %}

{% block appointment_title %}
    <div class="appointment_title">להזמנת רכיבה</div>
{% endblock %}