{% extends "homePage/base_booking.html" %}
{% load static %}

{% block specific_title %}רכיבת לילה על סוסים | מסילת ציון, ליד בית שמש ושער הגיא{% endblock %}
{% block meta_description %}רכיבת לילה רומנטית על סוסים במסילת ציון, ליד בית שמש ושער הגיא. שעה וחצי רכיבה, עצירת קפה בדרך, 350 ₪ לאדם. בין השעות 20:00-00:00.{% endblock %}

{% block image_src %}{% static 'homePage/images/night-riding.jpg' %}{% endblock %}

{% block image_alt %}רכיבת לילה{% endblock %}
{% block page_title %}רכיבת לילה{% endblock %}

{% block structured_data %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Service",
  "name": "רכיבת לילה על סוסים",
  "description": "רכיבת לילה רומנטית על סוסים במסילת ציון, שעה וחצי כולל עצירת קפה בדרך.",
  "provider": {
    "@type": "LocalBusiness",
    "name": "חוות מסילת ציון",
    "url": "https://mesilatzionfarm.co.il/",
    "telephone": "+972-55-885-9569"
  },
  "areaServed": ["מסילת ציון", "בית שמש", "שער הגיא"],
  "offers": {
    "@type": "Offer",
    "price": "{{ activity.price|floatformat:'0' }}",
    "priceCurrency": "ILS"
  }
}
</script>
{% endblock %}

{% block description_text %}
הרכיבה מותנית בהשתתפות של 3 עד 5 רוכבים<br>
משך הפעילות: שעה וחצי<br>
מחיר: 350 ₪ לאדם<br>
כולל עצירת קפה בדרך על חשבונינו<br>
רוצים להאריך את הרכיבה? אפשר לתאם איתנו בטלפון לרכיבה ארוכה יותר<br><br>
    שעות הרכיבה הם בין 20:00 ל- 00:00, לא ניתן לקבוע רכיבה לאותו היום לאחר השעה 16:00<br>
רוצים בכל זאת? מוזמנים להתקשר בשעות הפעילות וננסה למצוא לכם מקום<br>
{% endblock %}

{% block appointment_title %}
    <div class="appointment_title">להזמנת רכיבה</div>
{% endblock %}