{% extends "homePage/base_booking.html" %}
{% load static %}

{% block specific_title %}רכיבת לילה - חוות מסילת ציון{% endblock %}

{% block image_src %}{% static 'homePage/images/night-riding.jpg' %}{% endblock %}

{% block image_alt %}רכיבת לילה{% endblock %}

{% block description_text %}
הרכיבה מותנית בהשתתפות של 3 עד 6 רוכבים<br>
משך הפעילות: שעה<br>
מחיר: 300 ₪ לאדם<br>
כולל עצירת קפה בדרך על חשבונינו<br>
רוצים להאריך את הרכיבה? אפשר לתאם איתנו בטלפון לרכיבה ארוכה יותר<br><br>
    לא ניתן לקבוע רכיבה לאותו היום לאחר השעה 16:00<br>
רוצים בכל זאת? מוזמנים להתקשר בשעות הפעילות וננסה למצוא לכם מקום<br>
{% endblock %}

{% block appointment_title %}
    <div class="appointment_title">להזמנת רכיבה</div>
{% endblock %}