{% extends "homePage/base_booking.html" %}
{% load static %}

{% block specific_title %}צילומים - חוות מסילת ציון{% endblock %}

{% block image_src %}{% static 'homePage/images/photographs.jpg' %}{% endblock %}

{% block image_alt %}צילומים{% endblock %}

{% block description_text %}
בואו ליהנות מבוק צילומים מיוחד על רקע נופים יפים ביער בורמה, שיישארו אתכם למזכרת<br>
משך הצילום הוא חצי שעה<br>
עם סוס לבן — 250 ₪<br>
עם סוס חום — 200 ₪<br>
צילומים לכל אירוע: חלאקה, ימי הולדת, חתונה ועוד...<br>
{% endblock %}

{% block appointment_title %}
    <div class="appointment_title">להזמנת צילומים</div>
{% endblock %}