{% extends "homePage/base_booking.html" %}
{% load static %}

{% block specific_title %}שיעורי רכיבה - חוות מסילת ציון{% endblock %}

{% block image_src %}{% static 'homePage/images/riding-lessons.jpg' %}{% endblock %}

{% block image_alt %}רכיבת ילדים{% endblock %}

{% block description_text %}
עלות: 200 ₪ לשיעור<br>
תדירות וצורת השיעור: פעם בשבוע, שיעור פרטני של 30 דק׳ עם מדריך/ה מוסמך/ת<br>
רכיבה טיפולית (אינטייק): לפני תחילת התהליך מתקיים מפגש אינטייק — הורים ומדריך/ה בלבד — למילוי פרטים, הגדרת מטרות טיפוליות ובניית תכנית אישית<br>
המפגש נחשב שיעור לכל דבר
<br> לתיאום וקביעת שיעור: צרו קשר ונשמח להתאים לכם מועד
{% endblock %}
