{% extends "homePage/base_booking.html" %}
{% load static %}

{% block specific_title %}רכיבה בזריחה על סוסים | מסילת ציון, ליד בית שמש ושער הגיא{% endblock %}
{% block meta_description %}רכיבה בזריחה על סוסים במסילת ציון, ליד בית שמש ושער הגיא. שעה וחצי רכיבה בין 5:00-8:00, עצירת קפה בדרך, 350 ₪ לאדם.{% endblock %}

{% block image_src %}{% static 'homePage/images/sunrise-riding.jpg' %}{% endblock %}

{% block image_alt %}רכיבה בזריחה{% endblock %}
{% block page_title %}רכיבה בזריחה{% endblock %}

{% block structured_data %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Service",
  "name": "רכיבה בזריחה על סוסים",
  "description": "רכיבה בזריחה על סוסים במסילת ציון, שעה וחצי בין 5:00-8:00 כולל עצירת קפה בדרך.",
  "provider": {
    "@type": "LocalBusiness",
    "name": "חוות מסילת ציון",
    "url": "https://mesilatzionfarm.co.il/",
    "telephone": "+972-55-885-9569"
  },
  "areaServed": ["מסילת ציון", "בית שמש", "שער הגיא"],
  "offers": {
    "@type": "Offer",
    "price": "{{ activity.price|floatformat:'0' }}",
    "priceCurrency": "ILS"
  }
}
</script>
{% endblock %}

{% block description_text %}
הרכיבה מותנית בהשתתפות של 3 עד {{ activity.max_participants }} רוכבים<br>
משך הפעילות: שעה וחצי<br>
מחיר: 350 ₪ לאדם<br>
כולל עצירת קפה בדרך על חשבונינו<br>
רוצים להאריך את הרכיבה? אפשר לתאם איתנו בטלפון לרכיבה ארוכה יותר<br><br>
    שעות הרכיבה הם בין 5 ל- 8, לא ניתן לקבוע רכיבה לאותו היום לאחר השעה 16:00 <br>
רוצים בכל זאת? מוזמנים להתקשר בשעות הפעילות וננסה למצוא לכם מקום<br>
{% endblock %}

{% block appointment_title %}
    <div class="appointment_title">להזמנת רכיבה</div>
{% endblock %}