body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
}

select, input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

/*כפתורי התורים הפנויים*/
button {
    width: 100%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    direction: ltr
}

/* הודעה כשאין תורים */
.no-appointments {
    color: red;
    font-weight: bold;
    text-align: center;
}

/*כאשר נלחץ על תור בשעה כלשהי*/
.slot-btn:active{
    background-color: var(--main-emerald);
}

/*בלוק הטאבים של השעות והצגת התורים*/
.appointments-columns{
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 10px auto;
    padding: 10px;
    justify-content: center;
    gap:20px;
}

/*הסתרת כפתורי הרדיו*/
.appointments-columns input[type="radio"]{
    display: none;
}

/*עיצוב טאב של שעה מסויימת*/
.appointments-columns label{
    width: 70px;
    padding: 10px;
    font-weight: bold;
    color: white;
    border: 1px solid #ddd;
    background: var(--main-bright);
    border-radius: 999px;
    text-align: center;
    display: block;
    margin-bottom: 5px;
}

/*כל שורות התורים המוצגים*/
.slots{
    list-style:none;
    margin:0;
    padding:0
}

/*שורה אחת מתוך התורים המוצגים*/
.slot-item{margin-bottom:8px}

/*בלוק התורים המוצגים*/
.appointments-columns .appointments{
    width: 100%;
    padding: 20px;
    order: 1;
    display: none;
}

/*הצגת סוג התורים שנבחרו(שעה)*/
.appointments-columns input[type="radio"]:checked + label + .appointments{
    display: block;
}

/*כאשר נבחר תור בשעה מסויימת*/
.appointments-columns input[type="radio"]:checked + label{
    background: var(--main-emerald);
    color: black;
    border-color: #000;
}

