header{
    height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #d8ead3;
    position: relative;
    justify-content: center;

}

.logo img{
    height: 100%;
    display: table;
    width: auto;
}

body {
    margin: 0;
    padding: 0;
}

