header{
    height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #d8ead3;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.logo img{
    height: 100%;
    display: table;
    width: auto;
}

body {
    margin: 0;
    padding: 0;
}

